/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

/* Header styles */
header {
    padding: 15px;
    background-color: #333;
    color: #fff;
    text-align: center;
    z-index: 1; /* Asegura que el header esté por encima del menú */
}

.form-container {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin-right: 18rem;
}

/* Opcional: Asegurar que los botones se adapten en pantallas pequeñas */
@media (max-width: 600px) {
    .form-container {
        flex-direction: column; /* Volver a apilar en pantallas pequeñas */
        gap: 5px; /* Reducir espacio entre los botones */
    }
}

form {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

#result {
    margin-left: 60px;
    font-weight: bold;
}

.online {
    color: green;
    font-weight: bold;
}

.offline {
    color: red;
    font-weight: bold;
}

#ping-status {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

button {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Botón de Iniciar Ping */
#start-btn {
    background: linear-gradient(90deg, #4caf50, #81c784);
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#start-btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

#start-btn:disabled {
    background: #a5d6a7;
    cursor: not-allowed;
}

/* Botón de Detener Ping */
#stop-btn {
    background: linear-gradient(90deg, #f44336, #e57373);
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#stop-btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

#stop-btn:disabled {
    background: #ef9a9a;
    cursor: not-allowed;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Layout for main content and menu */
.main-content {
    display: flex;
    flex: 1;
    width: 100%;
    margin-top: 15px; /* Ajuste para evitar el solapamiento con el encabezado */
}

.deviceslist{
    display: flex;
    flex: 1; /* Permitir que este div ocupe el espacio restante */
    margin-left: 260px; /* Espacio para el menú y un margen adicional */
    padding: 15px; /* Espaciado interno para mejorar la separación */
    overflow-x: auto; /* Permitir desplazamiento horizontal si es necesario */
}

/* Ajustar la altura del menú */
#menu {
    width: 240px;
    background-color: #f4f4f4;
    padding: 15px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    height: calc(120vh - 80px); /* Ajustar la altura total menos un margen adicional */
    box-sizing: border-box;
    position: fixed; /* Fijo en el lado izquierdo */
    top: 75px; /* Ajustar según la altura del header */
    left: 0;
}

/* Estilos para los enlaces del menú */
#menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    margin-bottom: 5px;
}

#menu a.active {
    background-color: #ddd;
}

#menu a:hover {
    background-color: #333;
    color: #ddd;}

/* Dashboard styles */
#dashboard {
    margin-left: 250px; /* Espacio para el menú */
    padding: 15px;
    width: calc(100% - 250px); /* Ajusta el ancho para no solaparse con el menú */
    box-sizing: border-box;
    overflow-y: auto; /* Asegura que el contenido sea desplazable si excede el tamaño */
}

#dashboard h2 {
    margin-top: 0;
}

#dashboard-content {
    font-size: 1.1em;
}

/* Estilos generales para la tabla */
#dashboard-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-align: left;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#dashboard-table thead {
    background-color: #42a8a1;
    color: white;
}

#dashboard-table th,
#dashboard-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

#dashboard-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Centrar los textos de las celdas */
#dashboard-table th {
    text-align: center;
}

#dashboard-table td {
    text-align: center;
}

/* Hacer que la tabla sea responsive */
.table-responsive {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 45px;
    border-radius: 8px;
}

/* Ajustar margen de .deviceslist para pantallas pequeñas */
.deviceslist {
    display: flex;
    flex-direction: column;
    flex: 1; 
    margin-left: 300px; 
    padding: 10px; 
    overflow-x: auto; 
    justify-content: center; /* Centra horizontalmente el contenido */
}

/* Estilos de la tabla */
.table {
    width: 100%; /* Asegurarse de que la tabla ocupe todo el espacio */
    border-collapse: collapse; /* Quitar espacios entre celdas */
    table-layout: auto; /* Cambia a auto para permitir que el ancho se ajuste dinámicamente */
}

.table th, .table td {
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ddd; /* Bordes de la tabla */
    text-align: left; /* Alinear el texto a la izquierda */
}

.tablehead {
    background-color: #333;
    color: #ddd;
}

.table th:nth-child(1),
.table td:nth-child(1) { /* Nomenclatura */
    min-width: 200px; /* Ajusta según sea necesario */
}

.table th:nth-child(3),
.table td:nth-child(3) { /* Localización */
    min-width: 200px; /* Ajusta según sea necesario */
}


/* Ajuste del tamaño de las flechas SVG en la paginación */
.pagination .page-item .page-link svg {
    width: 16px; /* Ajusta el tamaño deseado */
    height: 16px;
}

/* Alternativa: Sobrescribir específicamente clases w-5 y h-5 */
.w-5, .h-5 {
    width: 14px !important; /* Reducir ancho de flechas */
    height: 14px !important; /* Reducir alto de flechas */
}

/* Espaciado entre los botones "Previous" y "Next" */
.flex.justify-between.flex-1.sm\:hidden {
    gap: 10px !important; /* Espacio entre los botones "Previous" y "Next" */
}

.flex.justify-between.flex-1.sm\:hidden .relative.inline-flex.items-center {
    border-radius: 8px !important; /* Ajusta el valor según el redondeo deseado */
}

/* Espaciado para el mensaje de resultados */
.text-sm.text-gray-700.leading-5.dark\:text-gray-400 {
    margin-top: 15px !important; /* Espacio a la derecha del mensaje "Showing 1 to 10 of 12 results" */
}

/* Espaciado entre los números de página y las flechas */
.relative.z-0.inline-flex.rtl\:flex-row-reverse.shadow-sm.rounded-md {
    gap: 5px !important; /* Espacio entre los números de página y las flechas */
}

.relative.z-0.inline-flex.rtl\:flex-row-reverse.shadow-sm.rounded-md .relative.inline-flex.items-center {
    border-radius: 8px !important; /* Aplica el mismo valor o ajusta según el diseño deseado */
}


